<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Camera Usa</key>
	<string></string>
	<key>NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription
NSPhotoLibraryUsageDescription</key>
	<string>Chroma utilizza la tua libreria per permetterti di caricare i tuoi capi</string>
</dict>
</plist>
